.app__chef-content{
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 5rem;
}

.app__chef-content_quote{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.app__chef-content_quote img{
  width: 47px;
  height: 40px;
  
}
.italicp{
  font-style: italic;
  color: var(--color-grey) !important;
}

.app__chef-sign{
  width: 100%;
  margin-top: 3rem;
}

.app__chef-sign p:first-child{
  font-family: var(--font-base);
  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: capitalize;

  color: var(--color-golden);
}

.app__chef-sign img{
  width: 250px;
  margin-top: 3rem;
}

@media screen and (min-width:2000px) {
  .app__chef-sign img{
    width: 370px;
    margin-top: 3rem;
  }
}

@media screen and (max-width:460px) {
  .app__chef-sign img{
    width: 80%;
    margin-top: 3rem;
  }
}