.app__newaLetter{
  padding: 2rem 16rem;
  border: 1px solid rgba(220, 202, 135, 0.2);
  background-color: var(--color-black);
}

.app__newaLetter-heading{
  text-align: center;
}

.app__newaLetter-heading :nth-child(2){
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.app__newaLetter-input{
  flex-direction: row;
  margin-top: 4rem;
  gap: 2rem;
}

.app__newaLetter-input input{
  width: 635px;
  border: 1px solid #F5EFDB;
  background-color: transparent;
  padding: 1rem;
  padding-left: 1.1rem;
  font-size: 1rem;
  letter-spacing: 0.04em;
  line-height: 28px;
}

.app__newaLetter-input button{
  width: max-content !important;
}

@media screen and (min-width: 2000px) {

  .app__newaLetter-input input{
    width: 835px;
    border: 1px solid #F5EFDB;
    background-color: transparent;
    padding: 2rem;
    padding-left: 2.1rem;
    font-size: 2rem;
    letter-spacing: 0.04em;
    line-height: 50px;
  }
  .app__newaLetter-input{
    margin-top: 8rem;
    gap: 4rem;
  }
  .app__newaLetter{
    padding: 6rem 16rem;
    
  }
}

@media screen and (max-width: 1500px) {
  .app__newaLetter{
    padding: 2rem 12rem;
  }
  .app__newaLetter-input input{
    width: 435px;
  }
  .app__newaLetter-heading :nth-child(2){
    margin-top:0;
    margin-bottom: 1rem;
    font-size: 50px;
  }
  .app__newaLetter-input{
    margin-top: 3rem;
  }
}
@media screen and (max-width: 1080px) {
  .app__newaLetter{
    padding: 2rem 8rem;
  }
  .app__newaLetter-input input{
    width: 380px;
  }
  .app__newaLetter-heading :nth-child(2){
    font-size: 40px;
    line-height: 55px;
  }
  .app__newaLetter-input{
    margin-top: 3rem;
  }
}
@media screen and (max-width: 850px) {
  .app__newaLetter{
    padding: 2rem 3rem;
  }
  .app__newaLetter-input{
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .app__newaLetter{
    padding: 2rem 2rem;
  }

  .app__newaLetter-input input{
    width: 100%;
  }
  .app__newaLetter-input{
    margin-top: 2rem;
  }
}

@media screen and (max-width: 460px) {
  .app__newaLetter{
    padding: 2rem 1rem;
  }
  .app__newaLetter-input{
    margin-top: 1rem;
 
  }
}